*{
  margin:0;
  padding: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: #909090;
  background-image: url("res/mistyTreesBack.jpg");
  background-size: 100vw 100vh;
  background-attachment: fixed;
  overflow-x: hidden;
}

.pt5{
  padding-top: 5em;
}

.pt4{
  padding-top: 4em;
}

.pt3{
  padding-top: 3em;
}

.pt2{
  padding-top: 2em;
}

.pt1{
  padding-top: 1em;
}

.mt7{
  margin-top: 7em;
}

.mt5{
  margin-top: 5em;
}

.mt4{
  margin-top: 4em;
}

.mt3{
  margin-top: 3em;
}


